/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* global.css or index.css */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
       url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('../assets/fonts/Cairo/Cairo-VariableFont_slnt,wght.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}
html,
body {
  height: 100%;
  font-family: 'Poppins' !important;
}

.slider {
  display: flex; /* Ensure the slider uses flexbox */
  align-items: center; /* Center items vertically */
}
.faded-edges {
  mask-image: linear-gradient(
    to left,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}
.faded-edges2 {
  mask-image: linear-gradient(
    to left,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.boxanimated {
  display: flex;
  justify-content: center;
  align-items: center;

  width: "100%";
  border: 3px solid #0000;
  border-radius: 3px;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(var(--angle), #8485e6, #21228e, #5253b917) border-box;
  animation: 4s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.cover-bg {
  background-image: url("../assets/images/mobiles.svg");

background:cover;

}
.box {
  @apply relative  rounded-xl; /* Main box styles */
}

.box:after {
  content: "";
  @apply absolute w-12 h-12 -top-2 -right-2 border-t-4 border-r-4 border-[#5253B9] rounded-tr-xl; /* Top-right corner */
}

.box:before {
  content: "";
  @apply absolute w-12 h-12 -bottom-1 -left-1 border-b-4 border-l-4 border-[#5253B9] rounded-bl-xl; /* Bottom-left corner */
}

/* Add these styles to your global.css or component's CSS */
@keyframes slideUp {
  0% {
    transform: translateY(46%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 1s ease-out;
}

.gradient-text-header {
  background: linear-gradient(90deg, #3132A9, #8485E6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-bg-header{
  background: linear-gradient(180deg, rgba(132, 133, 230, 0.17) 11.05%, rgba(49, 50, 169, 0.17) 29.05%, rgba(255, 255, 255, 0.17) 90.05%);

}
.gradient-shadow-bg{
  box-shadow: 0px 4px 20px rgba(132, 133, 230, 0.17), 0px 4px 20px rgba(49, 50, 169, 0.17), 0px 4px 20px rgba(255, 255, 255, 0.17);

}


.butt_conatainer{
  background:url('../assets/images/s.gif')
  }
  

.Butt {
  --black-700: hsla(0 0% 12% / 1);
  --border_radius: 50px;
  --transtion: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;

  transform-origin: center;

  padding: 0.6rem 2rem;
  background-color: transparent;

  border: none;
  border-radius: var(--border_radius);
  transform: scale(calc(1 + (var(--active, 0) * 0.1)));

  transition: transform var(--transtion);
}

.Butt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background: #5253B9; /* Example gradient */
  border: 3px solid white;  /* Optional for spacing */
  box-shadow: 0 0 10px 4px rgba(0, 150, 255, 0.5); /* Adjust color, spread, and blur */

  /* Optionally, add a filter to enhance the blur effect */
  filter: blur(0.8px); /* Adjust as needed */
  border-radius: var(--border_radius);
box-shadow:0px 6px 24px 0px rgba(49, 50, 169, 0.36);

  transition: all var(--transtion);
  z-index: 0;
}

.Butt::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: hsla(260 97% 61% / 0.75);
  background-image: radial-gradient(
      at 51% 89%,
      hsla(266, 45%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
  background-position: top;

  opacity: var(--active, 0);
  border-radius: var(--border_radius);
  transition: opacity var(--transtion);
  z-index: 2;
}

.Butt:is(:hover, :focus-visible) {
  --active: 1;
}
.Butt:active {
  transform: scale(1);
}

.Butt .dots_border {
  --size_border: calc(100% + 2px);

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--size_border);
  height: var(--size_border);
  background-color: transparent;

  border-radius: var(--border_radius);
  z-index: -10;
}

.Butt .dots_border::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transform: rotate(0deg);

  width: 100%;
  height: 2rem;
  background-color: #3132A9;

  mask: linear-gradient(transparent 0%, white 120%);
  animation: spin 5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.Butt .sparkle {
  position: relative;
  z-index: 10;

  width: 1.75rem;
}

.Butt .sparkle .path {
  fill: currentColor;
  stroke: currentColor;

  transform-origin: center;

  color: hsl(0, 0%, 100%);
}

.Butt:is(:hover, :focus) .sparkle .path {
  animation: path 1.5s linear 0.5s infinite;
}

.Butt .sparkle .path:nth-child(1) {
  --scale_path_1: 1.2;
}
.Butt .sparkle .path:nth-child(2) {
  --scale_path_2: 1.2;
}
.Butt .sparkle .path:nth-child(3) {
  --scale_path_3: 1.2;
}

@keyframes path {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }
  17% {
    transform: scale(var(--scale_path_1, 1));
  }
  49% {
    transform: scale(var(--scale_path_2, 1));
  }
  83% {
    transform: scale(var(--scale_path_3, 1));
  }
}

.Butt .text_Butt {
  position: relative;
  z-index: 10;


  background-clip: text;

  font-size: 1rem;
  color: white;
}
